<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <script>
            var config = {
                authUri: '<%= authorize_uri %>',
                redirectUri: '<%= redirect_uri %>',
            }
            var OAuthCode = function(config) {
                this.config = config;
                this.loginPopup  = function() {
                    var decoded = this.config['authUri'].replace(/&amp;/g, '&');
                    this.loginPopupUri(decoded, this.config['redirectUri']);
                }
                this.loginPopupUri  = function(authUri, redirectUri) {
                    var win = window.open(authUri, 'windowname1', 'width=800, height=600');
                    var pollOAuth = window.setInterval(function() {
                        try {
                            console.log(win.document.URL);
                            if (win.document.URL.indexOf(redirectUri) != -1) {
                                window.clearInterval(pollOAuth);
                                win.close();
                            }
                        } catch(e) {
                            console.log(e)
                        }
                    }, 100);
                }
            }

          var oauth = new OAuthCode(config);
          window.onload = oauth.loginPopup()
        </script>
    </head>
    <body>
        <h1>RingCentral Authentication</h1>
    </body>
</html>
